*, *:before, *:after {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	color: white;
}

html,
body {
	height:100%;
	background-color:#333333;
	font-family: Verdana, Geneva, sans-serif;
	font-family: "Gotham Rounded A", "Gotham Rounded B", "Helvetica Neue", Helvetica, Arial, sans-serif, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

a {
	text-decoration: none;
}

input, button {
	color: black;
}

.header {
	overflow: hidden;
	background-color: #444444;
}

/* Style the list */
ul.breadcrumb {
	padding: 10px 16px;
	list-style: none;
	display: inline-block;
}

/* Display list items side by side */
ul.breadcrumb li {
	display: inline;
	font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
	padding: 8px;
	color: #C0C0C0;
	content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
	color: #C0C0C0;
	text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
	color: #E0E0E0;
	text-decoration: underline;
}

.header .search-container {
	float: right;
}

.header input[type=text] {
	padding: 6px;
	margin-top: 4px;
	font-size: 17px;
	border: none;
}

.header .search-container button {
	float: right;
	padding: 6px 10px;
	margin-top: 4px;
	margin-right: 16px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
}

.header .search-container button:hover {
	background: #ccc;
}

.dropbtn {
	color: #C0C0C0;
	padding: 16px;
	padding-right: 0px;
	border: none;
	cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
	display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
	display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
	}
	
.home {

}

.home .comics
{
	margin: 10px;
	list-style: none;
}

.home .comics li
{
	display: inline-block;
	width: 200px;
	margin: 10px;
}

.home .comics li img
{
	width: 100%;
}

.home .comics li a
{
	display: inline-block;
	width: 100%;
	text-align: center;
}

.home .pages
{
	list-style: none;
	width: 100%;
	text-align: center;
}

.home .pages li
{
	display: inline-block;
}

.home .pages li a
{
	padding: 10px;
	border-radius: 5px;
	color: #C0C0C0;
}

.home .pages li a:hover
{
	background-color: #444444;
	color: white;
}

.viewer
{

}

.viewer .title
{
    margin-top: 20px;
    text-align: center;
}

.viewer .gallery
{
	padding: 20px;
	list-style: none;
}

.viewer .gallery li
{
	margin-bottom: 20px;
}

.viewer .gallery li img
{
	width: 100%;
	min-width: 600px;
}

.uploader {
}

.form{
	margin: 20px;
}

.form .property{
	display: grid;
	grid-template-columns: 8em auto;
	margin-bottom: 5px;
}

.form .property label{
	grid-column: 1;
	color: #C0C0C0;
	line-height: 25px;
}

.form .property input,
.form .property textarea{
	grid-column: 2;
	background-color: #333333;
	border: none;
	border-bottom: solid 1px #555555;
	color: white;
	padding: 5px;
}

.form .submit
{	
	width: 100%;
	padding: 20px;
	margin-top: 20px;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	background-color: #444444;
	color: #E0E0E0;
	border: none;
}

.form .submit:hover
{
	background-color: #555555;
	color: white;
}

.uploader .box
{
	position: relative;
	border-color: #555555;
	border-style: dashed;
	border-width: 1px;
}

.uploader .box input {
	display: none;
}

.uploader .box label {
	padding: 100px 20px;
	font-size: 1.25rem;
	text-align: center;
	display: inherit;
	color: #E0E0E0;
}

.uploader .preview
{
	margin-top: 20px;
}

.uploader .preview ol {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(6.25em, 1fr));
  grid-gap: 0.25em;
}

.uploader .preview ol li {
	grid-column: span 1;
  text-align: center;
}

.uploader .preview ol li img {
	width: 6em;
	order: 1;
}

.uploader .preview ol li span {
	text-align: center;
	color: #E0E0E0;
}