.comic
{
	margin: 10px;

	.thumb
	{
		display: inline-block;
		margin-right: 10px;

		img
		{
			width: 297px;
			height: 421px;
			object-fit: cover;
			object-position: 0% 0%;
		}
	}

	.info
	{
		display: inline-block;
		vertical-align: top;

		ul
		{
			list-style: none;

			li
			{
				margin-bottom: 10px;
				b
				{
					display: inline-block;
					margin-right: 10px;
				}

				span
				{

				}
			}
		}        
	}

	.chapters_holder
	{
		display: block;
		width: 100%;

		display: grid;
		grid-template-columns: max-content max-content auto max-content;

		*
		{
			color: #C0C0C0;
		}

		.header
		{
			background-color: #444444;
		}
			
		.chapter_id
		{
			grid-column: 2 / 2;
			padding: 10px;
		}

		.chapter_name
		{
			grid-column: 3 / 3;
			padding: 10px;
		}

		a.chapter_name:hover
		{
			color: white;
		}

		.chapter_update
		{
			grid-column: 4 / 4;
			padding: 10px;
		}
	}
}