.comic
{
	margin: 10px;

	*
	{	
		color: #999999;
	}

	.comic_profile
	{
		display: grid;
		grid-template-columns: auto auto;
		grid-gap: 10px;

		.comic_thumb
		{
			grid-column: 1;
			img
			{
				width: 297px;
				height: 421px;
				object-fit: cover;
				object-position: 0% 0%;
			}
		}

		.comic_detail
		{
			grid-column: 2;

			.comic_property
			{
				margin-bottom: 5px;
				
				b
				{
					display: inline-block;
					margin-right: 5px;
				}

				.tags
				{
				}

				.tag
				{
					padding: 4px;
					color: #dddddd;
				}

				.tag:hover
				{
					color: white;
				}

				p
				{
					display: inline;
					color: #bbbbbb;
				}
			}
		} 
	}

	.chapters_holder
	{
		display: block;
		width: 100%;

		display: grid;
		grid-template-columns: max-content max-content auto max-content;

		.header
		{
			background-color: #444444;
		}
		
		.chapter_id
		{
			grid-column: 2 / 2;
			padding: 10px;
		}

		.chapter_name
		{
			grid-column: 3 / 3;
			padding: 10px;
			color: #dddddd;
		}

		a.chapter_name:hover
		{
			color: white;
		}

		.chapter_update
		{
			grid-column: 4 / 4;
			padding: 10px;
		}
	}
}