
.home
{
	.comics
	{
		margin: 10px;
		list-style: none;
		
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(297px, 1fr));
		grid-gap: 0.25em;

		li
		{
			grid-column: span 1;
			display: block;
			padding: 10px;
		
			img
			{
				width: 297px;
				height: 421px;
			}
			
			a
			{
				display: inline-block;
				width: 100%;
				text-align: center;
			}

			.add_comic
			{
				width: 297px;
				height: 421px;
				display: inline-block;
			}
		}
	}

	.pages
	{
		list-style: none;
		width: 100%;
		text-align: center;
		
		li
		{
			display: inline-block;
		
			a
			{
				padding: 10px;
				border-radius: 5px;
				color: #C0C0C0;
			}
			
			a:hover
			{
				background-color: #444444;
				color: white;
			}
		}
	}
}